streamlit==1.63.0

docling==2.126.0
google-genai==2.22.0

sentence-transformers==6.0.1
torch==2.8.0
torchvision==0.23.0

faiss-cpu==1.15.0
pypdf==6.18.0
pillow==12.0.0
numpy==2.2.6

opencv-python-headless==4.11.0.86

tqdm==4.67.1
python-dotenv==1.1.1
